// app global css in SCSS form
body {
    background-image: url('img/bg.jpg');
    background-size: cover;
    background-position: center;
}

img {
    max-width: 100%;
}

.p-relative {
    position: relative;
}

.absolute-center {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.hidden {
    display: none;
}